config.py
data/latest_data_opd.parquet
data/archive
test.ipynb
ssh/
__pycache__/
pages/__pycache__/
assets/__pycache__/
venv/
app copy.py
dashboardsxx.json
pages/archived
# data/hmis_reports.json
data/visualizations/dashboards_duplicate.json
data/visualizations/home.json
data/visualizations/master.json
data/visualizations/opd.json
data/dashboards.json
data/Template_Reports.xlsx
data/report_template_hmis15.xlsx
data/uploads
config.wowa.py
models.py
pages/reports_config
nav_drawer.py
data/TimeStamp.csv
# start_prod.sh
# start_dev.sh
data/users_data.csv
data/TimeStamp.csv
data/concept_data.csv
cache
latest_data_opd.parquet.backup
