pandas
numpy
mysql-connector-python
sshtunnel
PyMySQL
paramiko<3.0
plotly
dash
isoweek
openpyxl
gunicorn
pyarrow
dash-bootstrap-components
dash-mantine-components
dash-iconify
typing_extensions
reportlab
duckdb